
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/*
 * Nav Bar & Header
 */
.navBarComponent {
  margin-left: 40px;
}

.companyName {
  padding-left: 0;
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(240,143,114);
  font-family: 'Great Vibes', cursive;
}

.navBarList {
  list-style: none;
  padding-left: 0;
  margin-top: 170px;
  width: 125px;
  font-family: 'Great Vibes', cursive;

  .navBarListName {
    margin-bottom: 50px;

    .navBarListLink {
      text-decoration: none;
      color: rgb(240,143,114);
      font-size: 40px;

      &:hover {
        color: rgb(0,195,149);
      }
    }
  }
}


/*
 * Home Page
 */
.logoContainer {
  background-color: rgb(0,195,149);
  border-radius: 50%;
  width: 230px;
  height: 230px;
  position: relative;
  left: -35px;
}

.logo {
  position: relative;
  width: 200px;
  border-radius: 50%;
  z-index: 4;
  left: 15px;
  bottom: -16px;

}

.homePageMainImage {
  background-image: url('../images/mason-jars.jpg');
  background-size: cover;
  height: 600px;
  z-index: -3;
  top: -125px;
}
