
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*
 * Nav Bar & Header
 */
.navBarComponent {
  margin-left: 30px;
}

.companyName {
  padding-left: 0;
  font-size: 80px;
  margin-top: 30px;
  color: rgb(0,195,149);
  font-family: 'Great Vibes', cursive;
}

.socialIconsContainer {
  padding-right: 27px;
}

.socialIconPhone,
.socialIconEnvelope,
.socialIconLinkedIn,
.socialIconInstagram,
.socialIconPinterest,
.socialIconTwitter,
.socialIconFacebook {
  margin-top: 70px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(240,143,114);
  float: right;

  &:hover {
    color: rgb(0,195,149);
  }
}

a:visited {
  color: rgb(240,143,114);
}

.socialIconTwitter {
  position: relative;
  font-size: 35px;
  top: -5px;
}

.socialIconFacebook {
  font-size: 28px;
}

.socialIconPhone {
  position: relative;
  top: -5px;
  font-size: 38px;
}

.companyTagLine {
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  color: rgb(240,143,114);
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.navBarList {
  list-style: none;
  padding-left: 0;
  margin-top: 170px;
  width: 145px;
  font-family: 'Great Vibes', cursive;

  .navBarListName {
    margin-bottom: 50px;

    .navBarListLink {
      text-decoration: none;
      color: rgb(240,143,114);
      font-size: 40px;

      &:hover {
        color: rgb(0,195,149);
      }
    }
  }
}


/*
 * Home Page
 */
.logoContainer {
  background-color: rgb(0,195,149);
  border-radius: 50%;
  width: 230px;
  height: 230px;
  position: relative;
  left: -25px;
}

.logo {
  position: relative;
  width: 200px;
  border-radius: 50%;
  z-index: 4;
  bottom: -16px;
}

.homePageMainImage {
  background-image: url('../images/mason-jars.jpg');
  background-size: cover;
  height: 600px;
  z-index: -3;
  top: -135px;
}
